import os (Standard Python library, no need to install)
pip install openai (reference link here) https://platform.openai.com/docs/libraries
pip install colorama or conda install -c anaconda colorama (reference here) https://pypi.org/project/colorama/ 
Create an Open AI account if you don't have one, mess around with the playground. 
Click your name, and then request API so you can call it inside the code to make this project work. 
Be SURE not to include your private API in your code if you are sharing! :) 
I always recommend to store it in a .txt file and put it in the same directory as your project. 
There are other ways to do this, although this works best for me. Have fun!
